body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('hatter.jpg');
    backdrop-filter: brightness(0.4) blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.cim-kep {
    width: 40rem;
    max-width: 80%;
    margin: 30px 10px;
    pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Serif+Text:ital@0;1&display=swap');

.dropbtn {
    background-color: rgba(0,0,0,0.3);
    color: white;
    width: clamp(20rem, 50vw, 50rem);
    padding: 16px;
    border: none;
  }
  
  .dropdown {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    position: relative;
    display: inline-block;
    margin: 20px 10px;
  }

  .dropdown button {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(221,221,221,0.4);
    width: clamp(20rem, 50vw, 50rem);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(221, 221, 221);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgba(0,0,0,0.5);}