body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Alap betűméret */
}

h1 {
    text-align: center;
    font-size: 30px;
}

.container {
    width: 800px;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 20px;
    text-align: left;
    font-weight: normal;
}

.container p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
    margin: 6px 0px;
}

.answ {
    font-weight: bold;
}

.s {
    text-decoration: underline;
}

.red {
    color: red;
    font-weight: normal;
    font-family: sans-serif;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.back-button a {
    background-color: #c20000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.back-button a:hover {
    background-color: #8e0000;
}

.font-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.font-buttons button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.font-buttons button:hover {
    background-color: #0056b3;
}