body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

.messenger-link {
    margin-top: 30px;
    font-size: 9px;
    color: grey;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* oszlopok száma */
    gap: 10px;
    width: 100%;
    max-width: 800px;
}
.day-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.day-card:hover {
    transform: scale(1.05);
}
.day-card.locked {
    cursor: not-allowed;
    background-color: #e0e0e0;
}
.day-card.locked:hover {
    transform: none;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 80%;
    max-height: 90%;
}
.modal-content img {
    max-height: 400px;
    max-width: 300px;
    height: auto;
    width: 60vh;
    border-radius: 8px;
}
.close-button {
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.fb-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}
.fb-button:hover {
    background-color: #145dbf;
}
