* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #177cff;
}

a:hover {
    text-decoration: underline;
    color: #0052bd;
}

.box {
    margin: 20px;
}